# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Backend
on:
  push:
    branches: [ master ,develop]
    paths-ignore:
    - 'web-app/**'
  pull_request:
    branches: [ master,develop ]
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 12
      uses: actions/setup-java@v1
      with:
        java-version: 12
    - name: Maven verify
      run: mvn -B verify --file Backend/pom.xml
